<!---CARD PARA EL PRODUCTO-->

<div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition-shadow">



    <!--- ALERTA DE PRODUCTO PELIGROSO --->
     {% if producto.peligroso %}
                    <span class="text-red-600 font-semibold text-xs mt-1 block">⚠️ Producto Peligroso</span>
                {% endif %}

                
    <div class="mb-4">
        <h3 class="text-lg font-semibold text-gray-800">{{ producto.nombre }}</h3>
        <span class="text-xs text-gray-500">Categoría: {{ categorias[producto.fk_categoria] }}</span>
        {% if producto.descripcion %}
            <p class="text-gray-600 text-sm">{{ producto.descripcion }}</p>
        {% endif %}
    </div>
    
    <div class="flex items-center justify-between">
        <div>
            <span class="text-2xl font-bold text-green-600">${{ "%.2f"|format(producto.precio) }}</span>
            <div class="text-sm text-gray-500">Stock: {{ producto.stock }} unidades</div>
        </div>
        
        <div class="flex flex-col items-end mt-4">
            {% if producto.stock > 0 %}
                <span class="bg-green-100 text-green-800 px-2 py-1 rounded text-xs">
                    Disponible
                </span>
               
            {% else %}
                <span class="bg-red-100 text-red-800 px-2 py-1 rounded text-xs">
                    Sin Stock
                </span>
            {% endif %}

            {% if current_user.is_authenticated and not current_user.es_admin %}
                <div class="flex items-center justify-between mt-4">
                    <button class="bg-light-teal hover:bg-pro-blue text-white px-4 py-2 rounded-lg">
                        Agregar al Carrito
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</div>






